@import url('//fonts.googleapis.com/css?family=DM+Serif+Text|Noto+Sans+JP:400,700&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size:16px;
}

.container {
    max-width:1440px !important;
}

input[type=range] {
    margin-bottom:25px;
}

input[type=text],input[type=email],select {
    height:45px !important;
}

.quote-link {
    background-color:#ffffff;
    padding:10px;
    margin-top:40px;
    display:inline-block;
    font-size:16px;
    padding-left: 25px;
    padding-right: 25px;
}

.dark-orange-text,.dark-orange-text:hover,.dark-orange-text:active {
    color:#ff3300;
}

.light-orange-text,.light-orange-text:hover,.light-orange-text:active {
    color:#ff6200;
}

#header .container {
    height:74px;
    /*  background: url('../img/background.jpg'); */
    background-repeat: no-repeat;
    background-position: left top;
}

#hero .container {
    min-height:490px;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: left -74px;
}

#header {
    position: relative;
    padding: 0;
    background: #ff6600;
}

#header-phone {
    float:right;
    text-transform:uppercase;
    color:#666666;
    font-size:22px;
    line-height:22px;
}

#header-number {
    font-size:36px;
    line-height:36px;
    display:block;
}

/* burger menu */

.navbar button {
    border:0;
}

.fa-1x {
    font-size:36px !important;
    color:#ffffff;
    float:right;
}

.navbar {
    text-align:right;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.navbar-nav {
    display:inline;
    float:right;
}

.nav-item {
    display:inline;
    float:left;
    margin-right:20px;
}

.nav-item:last-of-type {
    margin-right:0;
}

.nav-link {
    font-size:14px;
    font-weight:bold;
    color:#ffffff !important;
}

.nav-link a {
    
    color:#000000 !important;

}

.nav-link a:hover {
    
    color:#000000 !important;

}

.ui-widget {
   font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.0em;
}


.btn-primary a:hover {
    background-color: #000000;
   
}




#menuContent {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    line-height: 11px;
    padding-left: 12px;
    padding-top: 10px;
}
/* end burger menu */

#headline-box {
    background:#333333;
    color:#ffffff;
    max-width:440px;
    padding-top:50px;
    padding-bottom:35px;
    margin-top:80px;
    text-align:center;
}

#headline-box h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:24px;
    text-align:left;
    padding-left:50px;
    padding-right:50px;
    font-weight:400;
}

#headline-box .btn {
    font-size:18px;
    width:320px;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:45px;
}

#stelios-box {
    color:#ffffff;
    background-image: url('../img/stelios.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    position:relative;
    top:60px;
    margin-top:-20px;
}

#stelios-box h2 {
    font-size:24px;
    line-height:35px;
    max-width:420px;
    margin-top:30px;
}

#calc {
    padding-top:90px;
}

#calc-box {
    background-color:#ffffff;
    width:675px;
    height:390px;
}

#calc-form {
    width:260px;
    margin-left:auto;
    margin-right:auto;
    margin-top:45px;
    font-weight:bold;
    font-weight:bold;
}

#calc-box-left span {
    font-size:26px;
    margin-right:5px;
}

#calc-box-left {
    font-size:14px;
}

#calc-box-left a {
    font-weight:bold;
    color:#000000;
}

#calc-box-left input[type=text] {
    font-size:26px;
    width:215px;
    outline:none;
    border:0;
    line-height:40px;
    height: 50px !important;
}

#amount-contain {
    border-radius:5px;
    width:260px;
    padding-left:10px;
    margin-top:-4px;
}

#amount-contain-quote,#term-contain-quote {
    width:255px;
    padding-left:10px;
    font-size:24px;
    color:#666666;
    height:56px;
    vertical-align:top;
}

#amount-contain-quote span,#term-contain-quote span {
    margin-right:5px;
    display:inline-block;
}

#amount-contain-quote input[type=text] {
    width:200px !important;
    border:0;
    outline:none;
    color:#666666;
    height:40px !important;
}

#term-contain-quote input[type=text] {
    border:0;
    outline:none;
    color:#666666;
    height:40px !important;
}

#amount-contain-quote,#amount-not-sure,#term-contain-quote {
    display:inline-block;
}

#amount-contain-quote input[type=text]:hover,#term-contain-quote input[type=text]:hover  {
    outline:none;
}

#amount-not-sure-label {
    width:230px;
    height:56px !important;
    text-align:left;
    font-size:15px;
}

#finance-amount-slider {
    margin-top:10px;
}

#finance-length-slider {
    margin-top:5px;
}

#finance-length,#years {
    font-size:36px !important;
    margin-right:0 !important;
}

.form-control {
    color:#666666;
    background-color: #ececec;
}

.form-control[type=text],.form-control[type=email] {
    max-width:472px;
}

#dob-text {
    margin-top:5px;
}

#calc-result {
    margin-left:auto;
    margin-right:auto;
}

#calc-box-right {
    background:url('../img/calc-back.png');
    background-repeat:no-repeat;
    background-position:left center;
    background-color:#f2f2f2;
    font-size:12px;
    font-weight:bold;
    height:390px;
}

#calc-box-right .btn {
    width:255px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:25px;
    font-size:14px;
}

#calc-box-right th {
    font-weight:normal;
    white-space:nowrap;
}

#calc-box-right table {
    width:302px;
    margin:0 auto;
    margin-top:32px;
}

#calc-box-right td {
    text-align:right;
    height:50px;
}

#calc-box-right p {
    text-align:center;
}

#calc-total-credit-cost,#calc-total-credit-cost,#calc-total-repayment {
    font-weight:bold;
}

#calc-number-payments {
    font-weight:bold !important;
    font-size:10px;
}

#calc-number-payments span {
    color:#ff9900;
    font-size: 13px;
}

#calc-monthly-cost {
    font-weight:bold;
}

/*.sign {
    margin-right:5px;
}
*/
.sign,.pence {
    font-size:16px;
    position:relative;
    top:-12px;
}

.pounds {
    font-size:32px;
}


#total-cost-row {
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
}

#home-owner .container {
    FONT-WEIGHT: 700;
    background-color: #ff6600;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #ffffff;
}

#home-owner h1 {
    font-size:36px;
    margin-bottom:40px;
    font-weight:700;
}

#home-owner h2 {
    font-size:22px;
    max-width:1200px;
    margin:0 auto;
    line-height:36px;
}

#made-easy, #why-em {
    padding-top: 25px;
    background-color: #f1f1f1;
    padding-bottom: 35px;
    
}

#why-em {
    padding-bottom:130px;
}

#made-easy-img-col,#why-em-img-col {
    text-align:center;
}

#made-easy h2, #why-em h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    color:#ff6600;
    text-transform: uppercase;
}

#made-easy p,#why-em p {
    color:#666666;
    font-size:16px;
    max-width:660px;
}

#made-easy a,#why-em a {
    color:#666666;
    text-decoration:underline;
    font-size:20px;
}

#made-easy a:hover,#why-em a:hover {
    text-decoration:none;
}


#made-easy-block {
    text-decoration: none;
    text-align: center;
    /* padding-right: 1px; */
    
}



#why-em-img-col-left {
    display:none;
}

#why-em-img-col-right {
    display:block;
    text-align:center;
}

.colour-back {
    padding-top:110px;
    padding-bottom:70px;
    color:#ffffff;
    text-align:center;
}

.colour-back .btn {
    width:260px;
    border:1px solid #ffffff;
    border-radius:0;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:40px;
}

#home-owner-bottom .container {
    background-color:#ff6200;
    color:#ffffff;
    text-align:center;
    padding-top:35px;
    padding-bottom:35px;
}

#home-owner-bottom h2 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
}

#home-owner-bottom p {
    font-size:16px;
    max-width:1130px;
    margin:0 auto;
    max-width:1040px;
}

.more-details {
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
    color: #666666;
    background: rgba(226,226,226,0.49);

}

#try-application {
    padding-bottom:140px;
}

.more-details h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.more-details p {
    font-size:18px;
    line-height:18px;
}

.more-details p:last-of-type {
    margin-bottom:55px;
}

.more-details a {
    color:#666666;
    text-decoration: underline;
    font-size:20px;
    font-weight:bold;
}

.more-details a:hover {
    text-decoration:none;
}

#heading .container {
    margin-top:40px;
    margin-bottom:50px;
    color:#ffffff;
    height:70px;
}

#heading h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:30px;
    padding-left:35px;
    line-height:70px;
    font-weight:400;
}

.col-form-label {
    color:#666666;
    font-size:15px;
    font-weight:bold;
    width:280px !important;
}

textarea.form-control {
    max-width:472px;
    height:145px;
    resize:none;
}

#application select {
    width:148px;
    display:inline-block;
    margin-right:10px;
}

#application select:last-of-type {
    margin-right:0;
}

.ui-button {
    background-image:none !important;
    background-color:#ffffff;
    color:#666666;
    font-weight:normal;
    font-size:16px;
    height:58px;
    line-height:43px;
    min-width:75px;
}

.ui-state-active {
    background-image:none;
    border:0 !important;
    color:#ffffff;
}

.ui-state-active:focus,.ui-state-active:hover {
    outline:none !important;
    color:#000000 !important;
}

.ui-button:hover {
    background-image:none;
    background-color:#ffffff;
    border:1px solid black;
    color:#666666;
}

.ui-checkboxradio-checked {
    background-image:none;
    border:0;
    color:#ffffff !important;
    outline:none !important;
}

.ui-checkboxradio-label {
    width:106px;
    margin-right:12px;
}

.ui-checkboxradio-label:last-of-type {
    margin-right:0;
}

#application .container {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center -74px;
    background-color:#ff6600;
}

#thank-you .container {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center -74px;
    background-color:#ff6600;
}

#application .container,#thank-you .container {
    padding-bottom:30px;
}

#application-form,#thanks-msg {
    max-width:1020px;
    margin:0 auto;
    background: rgb(254,196,157);
background: linear-gradient(236deg, rgba(254,196,157,1) 0%, rgba(255,247,233,1) 40%, rgba(241,241,241,1) 100%);
    margin-top:50px;
    padding-top:35px;
    padding-left:140px;
    padding-right:130px;
    padding-bottom:95px;
}

#thanks-msg h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:30px;
    color: #ff6600;
    font-weight:700;
}

#application-form h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:36px;
    font-weight:700;
    color: #ff6600;
}

#application-form h2 {
    font-family: 'DM Serif Text', sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
}

#application-form p {
    font-size:16px;
}

#application-form h1,#application-form h2 {
    text-align:center;
}

#thank-you {
    display:none;
}

.quote-submit {
    font-size: 26px;
    margin: 0 auto;
    width: 262px;
    display: block;
    border-radius: 0;
    font-size: 18px;
    height: 55px;
    margin-top: 40px;
    font-weight: 700;
}

#thank-you {
    padding-bottom:60px;
    color:#666666;
}

#application-form.mandatory-content {
    padding-top:50px;
    padding-bottom:80px;
    text-align:left;
}

#application-form.mandatory-content h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
    color: #ff6600;
}

#application-form.mandatory-content p {
    font-size: 16px;
    text-align: left;
    line-height: 22px;
}

#application-form.mandatory-content h2 {
    font-weight:bold;
    font-size:18px;
    text-align:left;
    margin-bottom:5px;
}



#footer {
    background: rgba(226,226,226,0.18);
background: -moz-linear-gradient(top, rgba(226,226,226,0.18) 0%, rgba(209,209,209,0.99) 99%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,0.18)), color-stop(99%, rgba(209,209,209,0.99)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,0.18) 0%, rgba(209,209,209,0.99) 99%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,0.18) 0%, rgba(209,209,209,0.99) 99%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,0.18) 0%, rgba(209,209,209,0.99) 99%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,0.18) 0%, rgba(209,209,209,0.99) 99%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    font-size:16px;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: #eeeeee;
}

#footer p {
    color:#666666;
    max-width:880px;
    margin-left:auto;
    margin-right:auto;
}

#footer .container {
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
}

#footer,#footer a {
    color:#666666;
}

#footer ul {
    padding-left:0;
    margin-bottom:70px;
}

#footer li {
    display:inline-block;
    margin-right:30px;
}

#footer li:last-child {
    margin-right:0;
}

#footer p.footer-rates {
    color:#3e3d3c;
}

#footer span.big-rates {
    font-size: 21px;
    color: #3e3d3c;
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    #footer li {
        display:block;
        margin-right:20px;
    }
}

#term-contain-quote input[type=text] {
    width:1ch;
    padding:0;
    text-align:right;
    margin-right:5px;
}

.btn-primary {
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 0.3rem;
}
}

.btn-primary:hover,.btn-primary:active {
    background-color:#e9ad45 !important;
    border:1px solid #e9ad45 !important;
}

#amount-contain {
    border:1px solid #ff9900;
}

#amount-contain-quote span {
    color:#ff9900;
}

#made-easy h2,#why-em h2 {
    color:#666666;
}

.colour-back,#heading .container,.ui-state-active,.ui-checkboxradio-checked,#getaddress_button {
    background-color:#ff9900;
}

input[type=range]::-webkit-slider-thumb {
    border: 3px solid #ff9900;
}

input[type=range]::-moz-range-thumb {
    border: 3px solid #ff9900;
}

input[type=range]::-ms-thumb {
    border: 3px solid #ff9900;
}

#calc-box {
    float:left;
    margin-top:40px;
    margin-left:60px;
}

#amount-contain span,#years {
    color:#ff9900;
}

@media only screen and (max-width: 1300px) {
    #stelios-box h2 {
        font-size:20px;
        margin-left:50px;
        margin-top:20px;
    }
}

@media only screen and (max-width: 1210px) {
    #stelios-box h2 {
        margin-left:120px;
        margin-top:0;
    }
}

@media only screen and (max-width: 1090px) {
    #stelios-box {
        display:none;
    }
}

@media only screen and (max-width: 900px) {
    #header {
        text-align:center;
        padding-top:0px !important;
        padding-bottom:20px !important;
        overflow:auto;
    }

    #header .container {
        height:auto;
    }

    #header .navbar-nav {
        display:inline;
        width:auto;
        float:none;
    }

    #header .nav-item {
        display:inline;
        float:left;
        margin-right:15px;
    }

    #header .nav-item a {
        font-size:12px;
    }

    #hero .container {
        background-image:none !important;
        background-color:#ffffff !important;
    }

    #calc-box {
        width:100% !important;
        float:none;
        margin:0 auto !important;
        height:auto !important;
    }

    #hero-left-spacer {
        display:none;
    }

    #headline-box {
        margin-left:auto;
        margin-right:auto;
    }

    #headline-box .btn,#calc-box-right .btn {
        width:300px;
    }

    #why-em-img-col-right {
        display:none;
    }

    #why-em-img-col-left {
        display:block;
        text-align:center;
    }


    #calc-box-left {
        padding:0;
        margin-bottom:10px;
    }

    section {
        padding-top:40px !important;
        padding-bottom:40px !important;
    }

    #calc-box-right {
        background-image: none;
        padding:0;
    }

    #calc-box-right .btn {
        margin:0 auto;
    }

    input[type=range] {
        width:300px;
    }

    #amount-contain {
        width:300px;
    }

    #calc-box-left input[type=text] {
        width:220px;
    }

    #hero {
        padding-top:0 !important;
        padding-bottom:0 !important;
    }

    #hero .container {
        min-height:250px;
    }

    #headline-box {
        margin-top:0;
    }

    #made-easy-img-col,#why-em-img-col-left {
        padding-bottom:40px;
    }

    #heading {
        padding-top:0px !important;
        padding-bottom:0px !important;
    }

    #heading .container {
        margin-top:0px;
        margin-bottom:0px;
    }

    #heading h1 {
        font-family: 'DM Serif Text', sans-serif;
        padding-left:0;
        font-weight:400;
    }

    #header-phone {
        float:none;
    }

    #calc-form,#calc-result {
        width:300px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    #application {
        padding-top:10px !important;
        padding-bottom:10px !important;
    }

    #application .col {
        padding-left:0;
        padding-right:0;
    }

    #application input[type=text],#application input[type=email] {
        width:100%;
    }

    #application select {
        width:95px;
        margin-right:2px;
        font-size:14px;
    }

    #application select:last-of-type {
        margin-right:0;
    }

    #application-form,#thanks-msg {
        margin-top:0px;
        padding-top:10px !important;
        padding-bottom:20px !important;
    }

    #application-form h1 {
        font-family: 'Francois One', sans-serif;
        font-size:32px;
        font-weight:700;
    }

    #application-form h2 {
        font-size:16px;
        margin-bottom:20px;
    }

    #amount-contain-quote,#term-contain-quote {
        width:100%;
        max-width:472px;
    }

    #amount-not-sure-label {
        margin-top:5px;
        width:100%;
        max-width:472px;
    }

    #getaddress_dropdown {
        width:320px;
    }

    #address-details p {
        margin-top:5px;
    }

    #application-form,#thanks-msg {
        padding:0 15px 0 15px;
    }

    .quote-submit {
        margin-top:30px;
    }

    .ui-checkboxradio-label {
        width:75px;
        margin-right:5px;
    }

    .ui-checkboxradio-label:last-of-type {
        margin-right:0;
    }
}

@media only screen and (max-width: 450px) {
    #header img {
        width:265px;
    }
}

.mt-10{
  margin-top: 21px;  
}
.selectdiv {
  position: relative;
  width: 100%;
  float: left;

}
.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome !important;
    color: #212529;
    right: 11px;
    top: -2px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}
.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;

  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #AAAAAA;
  -ms-word-break: normal;
  word-break: normal;
}
.amount-bx{
  border-top: 0px !important;
  border-right: 0px !important;  
  border-left: 0px !important; 
}
#finance-amount-slider:focus{
    outline: none !important;
}
.table-border-tr{
  border-bottom: 1px solid #ccc;  
}