@import url('//fonts.googleapis.com/css?family=DM+Serif+Text|Noto+Sans+JP:400,700&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size:16px;
}

.container {
    max-width:1440px !important;
}

input[type=range] {
    margin-bottom:25px;
}

input[type=text],input[type=email],select {
    height:58px !important;
}

.quote-link {
    background-color:#ffffff;
    padding:10px;
    margin-top:40px;
    display:inline-block;
    font-size:16px;
    padding-left: 25px;
    padding-right: 25px;
}

.dark-orange-text,.dark-orange-text:hover,.dark-orange-text:active {
    color:#ff3300;
}

.light-orange-text,.light-orange-text:hover,.light-orange-text:active {
    color:#ff6200;
}

#header .container {
    height:74px;
    /*  background: url('../img/background.jpg'); */
    background-repeat: no-repeat;
    background-position: left top;
}
.hero-main .container{
    position: relative;
}
.banner-inner-col-wrap::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 38%; 
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid white;
    transform: rotate(180deg);
    z-index: 9;
}
.new-inner-wrap::after {
    display: none;
}
 #hero .container-fluid {
    min-height:580px;
    background: url('../img/background.jpg');
    background-repeat: no-repeat; 
    background-position: left -74px;
    position: relative;
    z-index:1;
    background-size: cover;
}
.hero-main{
    min-height:580px;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;  
    position: relative;
    z-index:1;
    background-size: cover;
}
.to-pay-over ul li input:checked + label {
    background-color: #000;
}
#header {
    position: relative;
    padding: 0;
    background: #ff6600;
}

#header-phone {
    float:right;
    text-transform:uppercase;
    color:#666666;
    font-size:22px;
    line-height:22px;
}

#header-number {
    font-size:36px;
    line-height:36px;
    display:block;
}

/* burger menu */

.navbar button {
    border:0;
}

.fa-1x {
    font-size:36px !important;
    color:#ffffff;
    float:right;
}

.navbar {
    text-align:right;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.navbar-nav {
    display:inline;
    float:right;
}

.nav-item {
    display:inline;
    float:left;
    margin-right:20px;
}

.nav-item:last-of-type {
    margin-right:0;
}

.nav-link {
    font-size:14px;
    font-weight:bold;
    color:#ffffff !important;
}

.nav-link a {
    
    color:#000000 !important;

}

.nav-link a:hover {
    
    color:#000000 !important;

}

.ui-widget {
   font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.0em;
}


.btn-primary a:hover {
    background-color: #000000;
   
}




#menuContent {
    position: relative;
    z-index: 11;
    text-transform: uppercase;
    line-height: 11px;
    padding-left: 12px;
    padding-top: 10px;
}
/* end burger menu */

#headline-box {
    background:#333333;
    color:#ffffff;
    max-width:440px;
    padding-top:50px;
    padding-bottom:35px;
    margin-top:80px;
    text-align:center;
}

#headline-box h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:24px;
    text-align:left;
    padding-left:50px;
    padding-right:50px;
    font-weight:400;
}

#headline-box .btn {
    font-size:18px;
    width:320px;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:45px;
}

#stelios-box {
    color:#ffffff;
    position:relative;
    top:0px;
    margin-top:-20px;
}


#stelios-box h2 {
    font-size:24px;
    line-height:35px;
    max-width:420px;
    margin-top:60px;
}

#calc {
    padding-top:90px;
}

#calc-box {
    background-color:#ffffff;
    width:675px;
    height:390px;
}

#calc-form {
    width:260px;
    margin-left:auto;
    margin-right:auto;
    margin-top:41px;
    font-weight:bold;
    font-weight:bold;
}

#calc-box-left span {
    font-size:26px;
    margin-right:5px;
}

#calc-box-left {
    font-size:14px;
}

#calc-box-left a {
    font-weight:bold;
    color:#000000;
}

#calc-box-left input[type=text] {
    font-size:26px;
    width:215px;
    outline:none;
    border:0;
    line-height:40px;
}

#amount-contain {
    border-radius:5px;
    width:260px;
    padding-left:10px;
    margin-top:10px;
}

#amount-contain-quote,#term-contain-quote {
    width:255px;
    padding-left:10px;
    font-size:24px;
    color:#666666;
    height:56px;
    vertical-align:top;
}

#amount-contain-quote span,#term-contain-quote span {
    margin-right:5px;
    display:inline-block;
}

#amount-contain-quote input[type=text] {
    width:200px !important;
    border:0;
    outline:none;
    color:#666666;
    height:40px !important;
}

#term-contain-quote input[type=text] {
    border:0;
    outline:none;
    color:#666666;
    height:40px !important;
}

#amount-contain-quote,#amount-not-sure,#term-contain-quote {
    display:inline-block;
}

#amount-contain-quote input[type=text]:hover,#term-contain-quote input[type=text]:hover  {
    outline:none;
}

#amount-not-sure-label {
    width:230px;
    height:56px !important;
    text-align:left;
    font-size:15px;
}

#finance-amount-slider {
    margin-top:10px;
}

#finance-length-slider {
    margin-top:5px;
}

#finance-length,#years {
    font-size:36px !important;
    margin-right:0 !important;
}

.form-control {
    color:#666666;
    background-color: #ececec;
}

.form-control[type=text],.form-control[type=email] {
    max-width:472px;
}

#dob-text {
    margin-top:5px;
}

#calc-result {
    margin-left:auto;
    margin-right:auto;
}

#calc-box-right {
    background:url('../img/calc-back.png');
    background-repeat:no-repeat;
    background-position:left center;
    background-color:#f2f2f2;
    font-size:12px;
    font-weight:bold;
    height:390px;
}

#calc-box-right .btn {
    width:255px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:25px;
    font-size:14px;
}

#calc-box-right th {
    font-weight:normal;
    white-space:nowrap;
}

#calc-box-right table {
    width:302px;
    margin:0 auto;
    margin-top:55px;
}

#calc-box-right td {
    text-align:right;
    height:44px;
}

#calc-box-right p {
    text-align:center;
}

#calc-total-credit-cost,#calc-total-credit-cost,#calc-total-repayment {
    font-weight:bold;
}

#calc-number-payments {
    font-weight:bold !important;
    font-size:14px;
}

#calc-number-payments span {
    color:#ff9900;
}

#calc-monthly-cost {
    font-weight:bold;
}

.sign {
    margin-right:5px;
}

.sign,.pence {
    font-size:16px;
    position:relative;
    top:-20px;
}

.pounds {
    font-size:48px;
}


#total-cost-row {
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
}

#home-owner .container {
    FONT-WEIGHT: 700;
    background-color: #ff6600;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #ffffff;
}

#home-owner h1 {
    font-size:36px;
    margin-bottom:40px;
    font-weight:700;
}

#home-owner h2 {
    font-size:22px;
    max-width:1200px;
    margin:0 auto;
    line-height:36px;
}

#made-easy, #why-em {
    padding-top: 25px;
    background-color: #f1f1f1;
    padding-bottom: 35px;
    
}

#why-em {
    padding-bottom:130px;
}

#made-easy-img-col,#why-em-img-col {
    text-align:center;
}

#made-easy h2, #why-em h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    color:#ff6600;
    text-transform: uppercase;
}

#made-easy p,#why-em p {
    color:#666666;
    font-size:16px;
    max-width:660px;
}

#made-easy a,#why-em a {
    color:#666666;
    text-decoration:underline;
    font-size:20px;
}

#made-easy a:hover,#why-em a:hover {
    text-decoration:none;
}


#made-easy-block {
    text-decoration: none;
    text-align: center;
    /* padding-right: 1px; */
    
}



#why-em-img-col-left {
    display:none;
}

#why-em-img-col-right {
    display:block;
    text-align:center;
}

.colour-back {
    padding-top:110px;
    padding-bottom:70px;
    color:#ffffff;
    text-align:center;
}

.colour-back .btn {
    width:260px;
    border:1px solid #ffffff;
    border-radius:0;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:40px;
}

#home-owner-bottom .container {
    background-color:#ff6600;
    color:#ffffff;
    text-align:center;
    padding-top:35px;
    padding-bottom:35px;
}

#home-owner-bottom h2 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
}

#home-owner-bottom p {
    font-size:16px;
    max-width:1130px;
    margin:0 auto;
    max-width:1040px;
}

.more-details {
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
    color: #666666;
    background: rgba(226,226,226,0.49);

}

#try-application {
    padding-bottom:140px;
}

.more-details h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.more-details p {
    font-size:18px;
    line-height:18px;
}

.more-details p:last-of-type {
    margin-bottom:55px;
}

.more-details a {
    color:#666666;
    text-decoration: underline;
    font-size:20px;
    font-weight:bold;
}

.more-details a:hover {
    text-decoration:none;
}

#heading .container {
    margin-top:40px;
    margin-bottom:50px;
    color:#ffffff;
    height:70px;
}

#heading h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:30px;
    padding-left:35px;
    line-height:70px;
    font-weight:400;
}

.col-form-label {
    color:#666666;
    font-size:15px;
    font-weight:bold;
    width:280px !important;
}

textarea.form-control {
    max-width:472px;
    height:145px;
    resize:none;
}

#application select {
    width:148px;
    display:inline-block;
    margin-right:10px;
}

#application select:last-of-type {
    margin-right:0;
}

.ui-button {
    background-image:none !important;
    background-color:#ffffff;
    color:#666666;
    font-weight:normal;
    font-size:16px;
    height:58px;
    line-height:43px;
    min-width:75px;
}

.ui-state-active {
    background-image:none;
    border:0 !important;
    color:#ffffff;
}

.ui-state-active:focus,.ui-state-active:hover {
    outline:none !important;
    color:#000000 !important;
}

.ui-button:hover {
    background-image:none;
    background-color:#ffffff;
    border:1px solid black;
    color:#666666;
}

.ui-checkboxradio-checked {
    background-image:none;
    border:0;
    color:#ffffff !important;
    outline:none !important;
}

.ui-checkboxradio-label {
    width:106px;
    margin-right:12px;
}

.ui-checkboxradio-label:last-of-type {
    margin-right:0;
}

#application .container {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center -74px;
    background-color:#ff6600;
}

#thank-you .container {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center -74px;
    background-color:#ff6600;
}

#application .container,#thank-you .container {
    padding-bottom:30px;
}

#application-form,#thanks-msg {
    max-width:1020px;
    margin:0 auto;
    background: rgb(254,196,157);
background: linear-gradient(236deg, rgba(254,196,157,1) 0%, rgba(255,247,233,1) 40%, rgba(241,241,241,1) 100%);
    margin-top:50px;
    padding-top:35px;
    padding-left:140px;
    padding-right:130px;
    padding-bottom:95px;
}

#thanks-msg h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:30px;
    color: #ff6600;
    font-weight:700;
}

#application-form h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size:36px;
    font-weight:700;
    color: #ff6600;
}

#application-form h2 {
    font-family: 'DM Serif Text', sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
}

#application-form p {
    font-size:16px;
}

#application-form h1,#application-form h2 {
    text-align:center;
}

#thank-you {
    display:none;
}

.quote-submit {
    font-size: 26px;
    margin: 0 auto;
    width: 262px;
    display: block;
    border-radius: 0;
    font-size: 18px;
    height: 55px;
    margin-top: 40px;
    font-weight: 700;
}

#thank-you {
    padding-bottom:60px;
    color:#666666;
}

#application-form.mandatory-content {
    padding-top:50px;
    padding-bottom:80px;
    text-align:left;
}

#application-form.mandatory-content h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
    color: #ff6600;
}

#application-form.mandatory-content p {
    font-size: 16px;
    text-align: left;
    line-height: 22px;
}

#application-form.mandatory-content h2 {
    font-weight:bold;
    font-size:18px;
    text-align:left;
    margin-bottom:5px;
}



#footer {
    background: #333333;
    font-size:16px;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: #eeeeee;
}

#footer p {
    color:#666666;
    max-width:880px;
    margin-left:auto;
    margin-right:auto;
}

#footer .container {
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
}

#footer,#footer a {
    color:#666666;
}

#footer ul {
    padding-left:0;
    margin-bottom:70px;
}

#footer li {
    display:inline-block;
    margin-right:30px;
}

#footer li:last-child {
    margin-right:0;
}

#footer p.footer-rates {
    color:#fff;
}

#footer span.big-rates {
    font-size: 21px;
    color: #fff;
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    #footer li {
        display:block;
        margin-right:20px;
    }
}

#term-contain-quote input[type=text] {
    width:1ch;
    padding:0;
    text-align:right;
    margin-right:5px;
}

.btn-primary {
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 0.3rem;
}

.btn-primary:hover,.btn-primary:active {
    background-color:#e9ad45 !important;
    border:1px solid #e9ad45 !important;
}

#amount-contain {
    border:1px solid #ff9900;
}

#amount-contain-quote span {
    color:#ff9900;
}

#made-easy h2,#why-em h2 {
    color:#666666;
}

.colour-back,#heading .container,.ui-state-active,.ui-checkboxradio-checked,#getaddress_button {
    background-color:#ff9900;
}

input[type=range]::-webkit-slider-thumb {
    border: 3px solid #ff9900;
}

input[type=range]::-moz-range-thumb {
    border: 3px solid #ff9900;
}

input[type=range]::-ms-thumb {
    border: 3px solid #ff9900;
}

#calc-box {
    float:left;
    margin-top:40px;
    margin-left:60px;
}

#amount-contain span,#years {
    color:#ff9900;
}

@media only screen and (max-width: 1300px) {
    #stelios-box h2 {
        font-size:20px;
        margin-left:50px;
        margin-top:20px;
    }
}

@media only screen and (max-width: 1210px) {
    #stelios-box h2 {
        margin-left:120px;
        margin-top:0;
    }
}

@media only screen and (max-width: 1090px) {
    #stelios-box {
        display:none;
    }
}

@media only screen and (max-width: 900px) {
    #header {
        text-align:center;
        padding-top:0px !important;
        padding-bottom:20px !important;
        overflow:auto;
    }

    #header .container {
        height:auto;
    }

    #header .navbar-nav {
        display:inline;
        width:auto;
        float:none;
    }

    #header .nav-item {
        display:inline;
        float:left;
        margin-right:15px;
    }

    #header .nav-item a {
        font-size:12px;
    }

    #hero .container {
        background-image:none !important;
        background-color:#ffffff !important;
    }
    #hero .container.mob-container{
        background-color:#ff6600 !important;
    }
    #home-owner.home-mob-owner{
        padding-top:0px !important;
    }
    #hero .container::after{
        display:none;
    }

    #calc-box {
        width:100% !important;
        float:none;
        margin:0 auto !important;
        height:auto !important;
    }

    #hero-left-spacer {
        display:none;
    }

    #headline-box {
        margin-left:auto;
        margin-right:auto;
    }

    #headline-box .btn,#calc-box-right .btn {
        width:300px;
    }

    #why-em-img-col-right {
        display:none;
    }

    #why-em-img-col-left {
        display:block;
        text-align:center;
    }


    #calc-box-left {
        padding:0;
        margin-bottom:10px;
    }

    section {
        padding-top:40px !important;
        padding-bottom:40px !important;
    }

    #calc-box-right {
        background-image: none;
        padding:0;
    }

    #calc-box-right .btn {
        margin:0 auto;
    }

    input[type=range] {
        width:300px;
    }

    #amount-contain {
        width:300px;
    }

    #calc-box-left input[type=text] {
        width:220px;
    }

    #hero {
        padding-top:0 !important;
        padding-bottom:0 !important;
    }

    #hero .container {
        min-height:250px;
    }

    #headline-box {
        margin-top:0;
    }

    #made-easy-img-col,#why-em-img-col-left {
        padding-bottom:40px;
    }

    #heading {
        padding-top:0px !important;
        padding-bottom:0px !important;
    }

    #heading .container {
        margin-top:0px;
        margin-bottom:0px;
    }

    #heading h1 {
        font-family: 'DM Serif Text', sans-serif;
        padding-left:0;
        font-weight:400;
    }

    #header-phone {
        float:none;
    }

    #calc-form,#calc-result {
        width:300px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    #application {
        padding-top:10px !important;
        padding-bottom:10px !important;
    }

    #application .col {
        padding-left:0;
        padding-right:0;
    }

    #application input[type=text],#application input[type=email] {
        width:100%;
    }

    #application select {
        width:95px;
        margin-right:2px;
        font-size:14px;
    }

    #application select:last-of-type {
        margin-right:0;
    }

    #application-form,#thanks-msg {
        margin-top:0px;
        padding-top:10px !important;
        padding-bottom:20px !important;
    }

    #application-form h1 {
        font-family: 'Francois One', sans-serif;
        font-size:32px;
        font-weight:700;
    }

    #application-form h2 {
        font-size:16px;
        margin-bottom:20px;
    }

    #amount-contain-quote,#term-contain-quote {
        width:100%;
        max-width:472px;
    }

    #amount-not-sure-label {
        margin-top:5px;
        width:100%;
        max-width:472px;
    }

    #getaddress_dropdown {
        width:320px;
    }

    #address-details p {
        margin-top:5px;
    }

    #application-form,#thanks-msg {
        padding:0 15px 0 15px;
    }

    .quote-submit {
        margin-top:30px;
    }

    .ui-checkboxradio-label {
        width:75px;
        margin-right:5px;
    }

    .ui-checkboxradio-label:last-of-type {
        margin-right:0;
    }
}

@media only screen and (max-width: 450px) {
    #header img {
        width:265px;
    }
}

#hero .inner-content-banner-main{
    margin:50px 0;
    padding:0px;
}
#hero .banner-inner-layout{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
#hero .two-year-circel{
    margin:0px;
    padding: 0px 15px;
    flex:0 0 25%;
    max-width: 25%;
}
#hero .circel-inner{
    height: 150px;
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    border-radius: 100%;
    margin: 0 auto;
}
#hero .circel-text h2{
   font-family: 'Noto Sans JP', sans-serif;
   font-weight: bold;
   color: #ff3501;
   font-size: 45px;
   text-align: center; 
}
#hero .circel-text span{
    display:block;
    font-size:18px;
    text-transform: uppercase; 
    font-weight: 600;
}
#hero .rate-text-main{
    margin:0px;
    padding: 0px 15px;
    flex:0 0 25%;
    max-width: 25%;
}
#hero .rate-text{
    margin:0px;
    padding: 0px;
}
#hero .rate-text h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:#fff;
    text-align: center;
}
#hero .rate-text h2 sub {
    bottom: -2px;
    font-size: 19px;
}
#hero .rate-text h2 span{
    display: block;
    font-size:18px;
    text-transform: uppercase;
}
#hero .apply-now-btn{
    margin:0px;
    padding: 0px 15px;
    flex: 0 0 25%;
    max-width: 25%; 
}
#hero .apply-inner{
    margin:0px;
    padding: 0px;
}
#hero .apply-btn{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    padding: 8px 30px;
    text-align: center;
    background: #fff;
    color:#ff0500;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    border-radius: 40px;
    display: inline-block;
}
#hero .container::after{
    content:'';
    position: absolute;
    bottom: 0;
    background-image: url('../img/stelios.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    right: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.banner-inner-col-wrap{
    background-color: #fff;
    padding: 50px 20px;
    position: relative;
}    
.banner-inner-col-wrap.new-inner-wrap ul {
    position: relative;
    z-index: 999999;
}
ul.col-ul-3{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
}
ul.col-ul-3 li{
    flex: 1;
    text-align: center;
    padding: 10px;
}
.form-check{
    padding: 0;
}
.form-check label {
    height: auto !important;
    width: 100%;
    border-radius: 180px;
    height: 110px !important;
    width: 110px !important;
    line-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff6600;
    color: #fff;
}
.form-check label:hover{
    background-color: #ff6600 !important;
    color: #fff !important;
}
.form-check label span{
    display: block;
    width: 100%;
    font-weight: 700;
}
.form-check label span {
    display: block;
    width: 100%;
    font-weight: 700;
    line-height: 0;
    position: relative;
    top: 19px;
    font-size: 40px;
}
.form-check input:checked + label::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url(../img/circel-img.png);
    background-size: 40px;
} 
.banner-inner-col-wrap h2 {
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.9;
}
.or p {
    font-size: 25px;
    font-weight: 900;
}
.range-slider {
    *zoom: 1;
    margin: 20px 0; 
    position: relative;
    text-align: center;
    padding-top: 80px;
  }
  .range-slider output {
    position: absolute;
    top: 0px;
    left: 0 !important;
    transform: translate(0) !important;
    border: 0 !important;
    width: 100%;
    text-align: left !important;
    border-bottom: 2px solid #f60 !important;
    border-radius: 0 !important;
    padding-left: 30px !important;
    background-image: url(../img/pound.png) !important;
    background-repeat: no-repeat !important;
    background-size: 13px !important;
    background-position-y: 22px !important;
    background-position-x: 10px !important;
    font-size: 25px;
    font-weight: 800;
    color: #000 !important;
}
.to-pay-over ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}
.to-pay-over ul li label::after {
    display: none;
}
.to-pay-over ul li label {
    height: 36px !important;
    width: 36px !important;
    border-radius: 0 !important;
    margin: 0 8px;
    padding: 0px !important;
}
.range-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid #ff9f0f;
    height: 20px;
    width: 40px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ 
  }
  
  /* All the same stuff for Firefox */
  .range-slider input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  .range-slider input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  .range-slider:before, .range-slider:after {
    content: " ";
    display: table;
  }
  .range-slider:after {
    clear: both;
  }  
  .range-slider .track {
    bottom: 15px;
    height: 2px;
    left: 0;
    margin-bottom: -1px;
    position: absolute;
    width: 0;
    z-index: 50;
  }
  .track.track--included {
    width: 0 !important;
}
  @media (min-width: 640px) {
    .range-slider .track {
      bottom: 15px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider .track {
      bottom: 15px;
    }
  }
  .range-slider .track--full {
    background: #aaa;
    width: 100%;
  }
  .range-slider .track--included {
    background: #f00;
    border-radius: 3px;
  }
  .range-slider .slider-thumb {
    background: #555;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    display: block\9;
    height: 30px;
    left: 0;
    position: absolute;
    width: 30px;
    z-index: 101;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .range-slider .slider-thumb {
      display: block;
    }
  }
  @media (min-width: 640px) {
    .range-slider .slider-thumb {
      height: 30px;
      width: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider .slider-thumb {
      height: 30px;
      width: 30px;
    }
  }
  .range-slider [type=range] {
    -webkit-appearance: none;
    background: none;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 75;
  }
  @media (min-width: 640px) {
    .range-slider [type=range] {
      height: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range] {
      height: 30px;
    }
  }
  .range-slider [type=range]:focus {
    outline: none;
  }
  .range-slider [type=range]::-moz-focus-outer {
    border: 0;
  }
  .range-slider [type=range]:first-of-type {
    float: left;
    margin-bottom: -30px;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]:first-of-type {
      margin-bottom: -30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]:first-of-type {
      margin-bottom: -30px;
    }
  }
  .range-slider [type=range]:last-of-type {
    float: right;
    margin-bottom: 0;
  }
  .range-slider [type=range]::-webkit-slider-runnable-track {
    background: none;
    border: 0;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]::-ms-fill-lower {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-ms-fill-upper {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    color: transparent;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]:focus::-ms-fill-lower {
    background: none;
    border: 0;
  }
  .range-slider [type=range]:focus::-ms-fill-upper {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-moz-range-track {
    -moz-appearance: none;
    background: none;
    border: 0;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #555;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-top: -12px;
    outline: 0;
    pointer-events: all;
    position: relative;
    width: 30px;
    z-index: 100;
  }
  .banner-inner-col-wrap.new-inner-wrap {
    background-color: #f2f2f2;
    height: 100%;
    padding: 50px 40px;
}
.new-inner-wrap ul {
    list-style-type: none;
    padding: 0;
} 
.new-inner-wrap ul li span {
    float: right;
}
.new-inner-wrap ul li {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.9;
    border-bottom: 1px solid #cecece;
    padding-bottom: 12px;
}
.new-inner-wrap ul li:last-child{
    border-bottom: 0;
}
p.orange.d-block {
    color: #ff9f0f;
    max-width: 50%;
    float: left;
}
p.orange.d-block span {
    float: none;
    display: block;
    color: #000;
    font-size: 12px;
}
span.main-price {
    font-size: 35px;
    font-weight: bold;
}
a.quote-link.dark-orange {
    background-color: #f60;
    color: #fff;
    border-radius: 4px;
    /* padding: 10px 60px; */
    margin-top: 65px;
}
.banner-inner-col-wrap select {
    max-width: 80%;
    background-color: #fff !important;
}
.banner-inner-col-wrap .form-group {
    max-width: 80%;
    background-color: #fff !important;
}
.banner-inner-col-wrap .form-group label{
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
}


a.quote-link.dark-orange:hover{
    text-decoration: none;
}
  @media (min-width: 640px) {
    .range-slider [type=range]::-webkit-slider-thumb {
      height: 30px;
      margin-top: -12px;
      width: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-webkit-slider-thumb {
      height: 30px;
      margin-top: -12px;
      width: 30px;
    }
  }
  .range-slider [type=range]::-ms-thumb {
    background: #555;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-top: 0;
    pointer-events: all;
    position: relative;
    width: 30px;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-ms-thumb {
      height: 30px;
      width: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-ms-thumb {
      height: 30px;
      width: 30px;
    }
  }
  .range-slider [type=range]::-moz-range-thumb {
    -moz-appearance: none;
    background: #555;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-top: -12px;
    pointer-events: all;
    position: relative;
    width: 30px;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-moz-range-thumb {
      height: 30px;
      margin-top: -12px;
      width: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-moz-range-thumb {
      height: 30px;
      margin-top: -12px;
      width: 30px;
    }
  }
  .range-slider .output,
  .range-slider output {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #aaa;
    display: inline-block;
    height: 2.5em;
    left: 50%;
    line-height: 2.5em;
    padding: 0 0.75em;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%, 0);
  }
  
@media screen and (max-width:767px){
    #hero .banner-inner-layout{
        flex-wrap:wrap;
    }
    #hero .two-year-circel, #hero .rate-text-main, #hero .apply-now-btn{
        flex:0 0 50%;
        max-width:50%;
        margin: 0 0 20px 0;
    }
    #hero .apply-inner{
        text-align:center;
    }
}

@media screen and (max-width:420px){
    #hero .apply-btn{
        padding: 8px 20px;
        
    }
}
@media screen and (max-width:398px){
    #header img {
    width: 200px;
    height: auto;
}
}

    
